[2017-09-22 08:40] fatiharaci opened #1 "Project Name"
Hi Team,

We already decided our team name; but we still need a project name.

So I made some research; i was thinking about memory, memento and memento mori; which are already used in various projects.

So I decided to use word : memoriae latin version of memory; however this is a team work and i need you suggestions. Soon we can make a poll and decide.

What do you guys think?

[2017-09-22 10:15] fatiharaci opened #2 "Project Tools"
Please share the tools you suggest. We need a project plan soon.

[2017-09-23 09:09] fatiharaci opened #3 "Research The Web Annotation Data Model and Annotation tools."

[2017-09-23 09:09] fatiharaci opened #4 "Document GitHub repository"
with at least the following information:

  a. An introduction that describes your project (including that it is a course project in software engineering)
  b. Summary and resources related to web annotation
  c. Description of annotation related tools and use cases that you found.

[2017-09-23 09:21] fatiharaci opened #5 "Send Suzan Üsküdarlı a message using Piazza to inform about:"
a.  group name
b. project repo URL

[2017-09-23 09:22] fatiharaci opened #6 "Create a list of question for requirements elicitation to be performed on 03.10.2017"

[2017-09-23 12:32] fatiharaci commented on #5
Group Name: BandOfBrothers decided with a poll http://www.easypolls.net/poll.html?p=59c3d234e4b011fc06d44ed1

[2017-09-23 12:33] fatiharaci commented on #5
Project Page opened a name: memoriae

Real project name may be changed:https://github.com/574BandOfBrothers/memoriae

[2017-09-23 12:35] fatiharaci commented on #5
Suzan Üsküdarlı and team members informed via piazza. This issue can be closed.

[2017-09-23 12:35] #5 closed

[2017-09-23 12:43] fatiharaci commented on #3
Here is the page of W3C about web annotation data model:

https://www.w3.org/TR/annotation-model/

[2017-09-23 13:04] fatiharaci commented on #3
take a look at this:  https://www.youtube.com/watch?v=o1cKHl1J3EQ

[2017-09-24 18:16] mustafagonul commented on #2
I think we should choose the tools, everyone in the team can use, so that all team members can make contributions. I have used django before, it was very easy to use, but to build complicated web apps, using html css and javascript becomes an obligation.

[2017-09-24 18:20] mustafagonul commented on #2
We should build our app web based which has also mobile support. So if preparing a mobile application becomes a requirement, we can develop or find an application views our web application as a browser.

[2017-09-25 14:44] fatiharaci commented on #3
Please take a look at this (JSON LD)
https://www.w3.org/TR/json-ld/

JSON-LD format is used for annotations.

[2017-09-25 15:58] fatiharaci commented on #3
I created a Prezi Prezentation in order to present it in the class. This issue is now closed.

https://prezi.com/view/3BmVm1U8sWRkWhdueKKj/

[2017-09-25 15:58] #3 closed

[2017-09-25 16:03] fatiharaci opened #7 "Github Projects vs Trello"
Hi Team,

Thanks to Bahattin we now have a trello page; however trello does not take issues from github automatically.

What do you think is it worth spending time by re-opening issues on Trello? Depending on this topic i will create a project in github or we will continue with trello.

http://www.easypolls.net/poll.html?p=59c928dae4b09f59c5b8b4de
--

[2017-09-25 16:09] fatiharaci opened #8 "Personal Logging"
Hi Team,

As each member needs a personal logging tool; I created a twitter page for the project and started logging. I think it is really practical. You can share your personal logs; so we can create a wiki page about it.

[2017-09-25 16:11] fatiharaci commented on #8
My logging twitter account: https://twitter.com/MemoriaeLog_FA

[2017-09-26 05:39] bahattinunal commented on #8
Apart from the private logs i'm keeping tailored and publicly accessible one is the twitter account. https://twitter.com/MemoriaeLog_BU

[2017-09-26 05:42] bahattinunal commented on #7
It seems that Trello only results in redundancy for us now. I think it's better to go with GitHub project at the moment not waste time and lose our focus.

[2017-09-26 05:42] #7 closed

[2017-09-26 11:15] metepinar opened #9 "HW1 3. Include your team mates and me in your project team."
Collaborator request was sent using Settings->Collaborators->Insert user name of instructor->Add Collaborators. Leave this issue open until instructor accepts the invite.

[2017-09-26 12:36] fatiharaci commented on #9
This issue has already been opened and closed; we are waiting for uskudarli's response:

Please check issue 5; this issue is now closed.

![image](https://user-images.githubusercontent.com/17599008/30860586-4c994e9c-a2d0-11e7-9230-7b99f9c736dc.png)

[2017-09-26 12:36] #9 closed

[2017-09-26 13:14] fatiharaci opened #10 "Create GitHub Projects for the Project"

[2017-09-26 13:21] fatiharaci commented on #10
We will be using github projects for Project Management; in order to do that regularly we need to create milestones first.

So I am opening another issue for that.

[2017-09-26 13:22] fatiharaci opened #11 "Define Project Milestones"

[2017-09-26 16:41] mustafagonul opened #12 "Create Accurate Labels"
After the discussion in the classroom, I think we should create more accurate labels for our project. Creating label matrix would be better solution for our project. Every issue should be two labels, pointing phase and module.

[2017-09-27 04:36] mustafagonul opened #13 "Copying the tasks to GitHub"
Bahattin has done great work about creating tasks with using Trello. I think we should copy these to GitHub.

https://trello.com/b/VYYw7PP4

[2017-09-27 04:44] mustafagonul commented on #2
@ardaogulcan You can make some suggestion regarding the tools we use in the project. As I know you are the best regarding the issue. We need a head start to make some contribution to the project.

[2017-09-27 04:45] mustafagonul opened #14 "Creating a Wiki Page"

[2017-09-27 15:11] ardaogulcan commented on #2
Our tools may vary according to our applications requirements but I still have some common suggestions

**Infrastructure**

Apart from our application we may use AWS for our main infrastructure. It will provide us easy to use and scalable tools for all kinds of needs. We may use S3 for object storage, and use EC2 for our build server, application server etc. If we need server less architecture we

[2017-09-27 17:32] fatiharaci commented on #12
Actually I have no idea what label matrix but it could be good. Here are the labels i created:

homework
research
project management
tools

[2017-09-27 17:35] fatiharaci opened #15 "Create Mockups"
As Arda suggested we will be desiging a mockup using marvelapp:

https://marvelapp.com

I already opened a user.

[2017-10-01 20:33] fatiharaci commented on #15
Hi Team,

I made a mockup for our project;

https://marvelapp.com/6ec96cb

Please check and give your comments.

[2017-10-02 11:36] metepinar commented on #8
Personal logs are generated here:
https://twitter.com/MemoriaeLog_MP

[2017-10-02 11:41] metepinar commented on #12
May I suggest these labels so that multiple assignees to a single issue could have a better understanding of the current situation of that particular issue, or other issues in general? This enables us to communicate the ongoing work effort spent on each issue while issue is still open, so multiple parties could avoid starting to work on an issue that someone else has already been working on. This

[2017-10-02 12:02] fatiharaci commented on #8
https://twitter.com/MemoriaeLog_MP this account is private mete could you change it

[2017-10-02 12:06] metepinar commented on #8
Fixed it, should be working now.

[2017-10-02 16:16] ardaogulcan commented on #1
I guess we have decided our project as memoriae therefore I am closing this issue.

[2017-10-02 16:16] #1 closed

[2017-10-02 16:20] ardaogulcan commented on #10
I have created project and opened some columns for easier management. We still need to create milestones and assign milestones to the issues but we already have an issue for milestones so I am closing this one.

[2017-10-02 16:20] #10 closed

[2017-10-02 16:22] ardaogulcan commented on #12
Following labels may be created right now, additional labels may be included as they needed.

**Feature**: Will be used for new features to the project
**Bugfix**: Will be used for bug fixes, this is for development environment bugfixes.
**Improvement**: Will be used for improvement tasks which are neither adds new features nor fixes a bug
**Hotfix**: Will be used for critical bugfixes to the prod

[2017-10-02 16:25] ardaogulcan commented on #14
We should create wiki pages In parallel with the projects and we should consider adding wiki page as a definition of done for tasks so for now I am closing this issue.

[2017-10-02 16:25] #14 closed

[2017-10-02 16:33] ardaogulcan commented on #4
I have created the index page for Memoriae. @fatiharaci you may also document your presentation in the wiki page, this will be good for all of us as you have done such a good work to understand what an annotation is. Right now I am closing this issue. We should document this Wiki page in according to our project and we should open specific documentation tasks for each job.

https://github.com/574B

[2017-10-02 16:33] #4 closed

[2017-10-02 16:37] ardaogulcan commented on #15
@fatiharaci I've documented your mockups in our wiki page https://github.com/574BandOfBrothers/memoriae/wiki

[2017-10-02 16:49] ardaogulcan opened #16 "Issue and pull request templates"
Hey Team,

As we are opening issues and pull requests separately we should make them more standardised to easily manage project. Therefore, we should document our issue and pull request standards and we may use Github templates to enforce this standarts

[2017-10-02 16:56] ardaogulcan commented on #16
I have opened the following PR for this issue u may add your reviews. #17

[2017-10-03 16:02] metepinar commented on #6
Prepared a tentative Requirements Elicitation Questions page in the wiki section.

Next iteration would be the elicitation for a greenfield application, which has no system-as-is so elicitation questions would be guided to convert analog annotation and search to a digital one. Better be ready for both scenarios. A third scenario would be the complete removal of current digital system in favor of o

[2017-10-03 17:37] fatiharaci opened #18 "Living History Examples"
Ask real people about their memories without mentioning the app; ask couple and listen them. Then record the idea to create examples.

[2017-10-04 21:23] fatiharaci opened #19 "Create Dev and Prod Environments"
As decided; jenkins will be the tool the create environments build up on amazon AWS

[2017-10-04 21:25] fatiharaci opened #20 "Open Amazon AWS account"
In order to create environments we need an Amazon AWS account.

[2017-10-08 16:59] fatiharaci opened #21 "Create Labels of Pull Requests"

[2017-10-09 12:06] fatiharaci commented on #21
Hi Team,

Required Labels are created, Now we have 2 groups of labels:

**CODE RELATED** (Bluish Color)

- **Docs**: Will be used for documentation related issues
- **Test**: Will be used for test related issues
- **Epic**: Critical and big task which will effect multiple aspects of project. Epics can contain multiple stories and features.
- **Story**: Will be used for bigger features which may co

[2017-10-09 12:09] #21 closed

[2017-10-09 12:12] fatiharaci commented on #20
New amazon account created due to lock from AWS

[2017-10-09 12:12] #20 closed

[2017-10-09 12:13] #12 closed

[2017-10-09 12:15] fatiharaci commented on #15
Our mockup is not clear enough needs enhancement; the issue will be updated after the new requirements and mockup.

[2017-10-17 15:06] mustafagonul commented on #13
I think, we can close this issue. AFAIK all issues created at Trello side is copied to Github.

[2017-10-19 13:41] ardaogulcan commented on #19
Both app and api environments are created on following PR's
https://github.com/574BandOfBrothers/memoriae-api/pull/1
https://github.com/574BandOfBrothers/memoriae-app/pull/2

[2017-10-19 13:41] #19 closed

[2017-10-19 13:41] ardaogulcan commented on #16
https://github.com/574BandOfBrothers/memoriae/pull/17

[2017-10-19 13:41] #16 closed

[2017-10-19 13:44] ardaogulcan opened #23 "Setup EC2 Instance for the Development Environment"
AWS (Amazon Web Services) EC2 (Elastic Compute Cloud) instance should be created and configured to serve Node.js application and Mongodb.

Requirements

- EC2 instance should be created in EU-West region
- Security zone should be configured to accept incoming and outgoing requests.
- Ngnix, Node, Mongodb should be installed and each of them should be run with assigned users.
- Ngnix Server should

[2017-10-19 13:44] ardaogulcan opened #24 "Create API Boilerplate"
Boilerplate code for API should be created.

Requirements

- Express.js should be used.
- NPM should be used for task manager.
- Task manager should be configured to run with environment configs such as development and production

[2017-10-19 13:45] ardaogulcan opened #25 "Setup CI Environment for development"
Continuous integration environment should be prepared.

Requirements

- Setup Jenkins for automation server.
- Configure Jenkins to check pull requests
- Configure Jenkins to deploy after merge

[2017-10-20 17:48] fatiharaci opened #26 "Create Docker Environment for ease of development"
## Title

Titles of issues should be easily distinguishable and summarize the issue. Type of issue may be included to the title if it couldn't be labed. For example all spike tickets should be titled by prepending SPIKE: tag.

## Description

Descriptions should detaily describe the issue. It should be understanble to all readers, whether with a background for that issue or not.

### Task / Featur

[2017-10-25 06:35] fatiharaci opened #27 "Finalize Project Requirements"
The project requirements updated in wiki. Could you please check and approve it.

[2017-10-28 10:39] bahattinunal commented on #27
This is completed. We revised all the requirements made corrections.

[2017-10-28 10:39] #27 closed

[2017-10-28 10:40] bahattinunal commented on #26
We will leave the choice to team members.

[2017-10-28 10:40] #26 closed

[2017-10-28 10:41] bahattinunal commented on #13
No more Trello. I will be adding the remaining tasks here from now on.

[2017-10-28 10:41] #13 closed

[2017-10-28 10:43] #8 closed

[2017-10-28 13:18] battinunal opened #28 "Package Installation Problem"
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.1.2

[2017-10-28 13:20] battinunal opened #29 "Setup DNS Parameters for EC2 Instance"
create dns entries for  memoriae.online to the new ec2 instance.

[2017-10-28 13:23] korem7 commented on #28
It is only needed when the project is run on MacOS.
Ref: Stackoverflaw https://stackoverflow.com/a/40464936

[2017-10-28 13:36] korem7 opened #30 "Error after running "npm run dev" cmd"
When we run "npm run dev" in /memoriae/memoriae-api directory, we get following error:

Error: Cannot find module './environments/development.json'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/home/korem7/Desktop/memoriae/memor

[2017-10-28 13:47] ardaogulcan commented on #30
You should copy src/config/environments/environmets.json.example to same directory as development.json and you should fill variables with yoru environment variables

[2017-10-28 13:47] #30 closed

[2017-10-28 14:48] battinunal opened #31 "Error with 3T studio mongoDB"
(Studio 3T:13784): GLib-GObject-CRITICAL **: g_object_new: assertion 'G_TYPE_IS_OBJECT (object_type)' failed

** (Studio 3T:13784): CRITICAL **: atk_object_initialize: assertion 'ATK_IS_OBJECT (accessible)' failed
Oct 28, 2017 5:42:39 PM com.mongodb.diagnostics.logging.JULLogger log
INFO: Cluster created with settings {hosts=[localhost:27017], mode=SINGLE, requiredClusterType=UNKNOWN, serverSelect

[2017-10-28 14:49] bahattinunal commented on #28
@ardaogulcan opinion? mac'e haftaya gecis yapıyorum su an linuxta ilerliyoruz.

[2017-10-28 14:53] bahattinunal commented on #23
Got the AWS EC2 Ready in EU-West. Waiting for deployment. @ardaogulcan @fatiharaci

[2017-10-28 15:58] fatiharaci commented on #31
Hi Bahattin;

I have the same problem while creating a dev env mongoDB

com.mongodb.MongoSocketOpenException: Exception opening socket

[2017-10-28 16:17] fatiharaci commented on #31
![image](https://user-images.githubusercontent.com/17599008/32136337-aa8721b6-bc14-11e7-8fee-81520abd9f7e.png)

[2017-10-28 19:29] mustafagonul opened #32 "User API Development"
Within this task user API necessary for the application shall be developed.

[2017-10-28 19:55] fatiharaci opened #33 "Expo Create from Scratch Problem"
![image](https://user-images.githubusercontent.com/17599008/32137934-54cd2d06-bc32-11e7-8e1e-ceadeab3dd4f.png)

[2017-10-29 13:38] mustafagonul commented on #28
You can totally ignore this warning :+1:
We can deal this warning later.

[2017-10-29 13:53] mustafagonul opened #34 "Repository for Utilities"
A separate repository collects the items necessary for development environment shall be created.

[2017-10-29 13:56] mustafagonul commented on #11
Two Milestones are created.
* User API development
* Story API development

I assigned user api development task to myself.

Other milestones can be added for both app and api sides.

[2017-10-29 18:23] mustafagonul commented on #6
We have completed the issue? I guess we can close that.

[2017-10-29 20:02] bahattinunal commented on #23
Deployment is done. Waiting for caches to clear.

[2017-10-29 20:02] #23 closed

[2017-10-29 20:03] bahattinunal commented on #28
Closing the issue for now.

[2017-10-29 20:03] #28 closed

[2017-10-29 20:05] bahattinunal commented on #29
Completed. Our api will is accessible through api.memoriae.online. Continuous integration will be done via ci.memoriae.online.

[2017-10-29 20:05] #29 closed

[2017-10-29 20:06] bahattinunal commented on #25
This is done after the deployment i guess. @ardaogulcan shouldn't we close this one?

[2017-10-29 20:07] bahattinunal commented on #18
we should gather all our talks to a document and upload it somewhere visible.

[2017-10-29 20:09] bahattinunal commented on #15
We completed the requirements. I think it's time to update mockups.

[2017-10-30 06:22] ardaogulcan commented on #24
Api repository created;
https://github.com/574BandOfBrothers/memoriae-api

And Deployed To;
http://api.memoriae.online

[2017-10-30 06:22] #24 closed

[2017-10-30 06:23] ardaogulcan commented on #25
Ci environment created under

http://ci.memoriae.online

[2017-10-30 06:23] #25 closed

[2017-10-30 06:25] ardaogulcan commented on #32
We may consider this one as a story and divide into different tasks,

Creating User Schema;
#35

Creating User Endpoint
#36

[2017-10-30 06:27] ardaogulcan opened #35 "Design User Endpoint Mongoose Schema"
**Sub Task Of**
https://github.com/574BandOfBrothers/memoriae/issues/32

User Document Schema will be created.

**Requirements for User Object**
+ Name* (which may be divided as first name and last name)
  - A slug should be created for each user by using their first name and last name
  - For example, user with name John Doe should have a slug john-doe
  - Slugs should be unique through the syste

[2017-10-30 06:31] ardaogulcan opened #36 "Users API Endpoint"
**Subtask of**
https://github.com/574BandOfBrothers/memoriae/issues/32

**Blocked By**
https://github.com/574BandOfBrothers/memoriae/issues/35

**Requirements**
- Endpoint should consume [User Schema](https://github.com/574BandOfBrothers/memoriae/issues/35)
- API responses should follow HTTP Response Code [standards](http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml).
- Res

[2017-10-30 06:42] battinunal opened #37 "Creating AWS S3 server and binding it to route53 DNS for landing static pages"
## Title

Titles of issues should be easily distinguishable and summarize the issue. Type of issue may be included to the title if it couldn't be labed. For example all spike tickets should be titled by prepending SPIKE: tag.

## Description

Descriptions should detaily describe the issue. It should be understanble to all readers, whether with a background for that issue or not.

### Task / Featur

[2017-10-30 06:43] battinunal opened #38 "Developing the landing and project description pages"
Create a landing page defines memoriae application with download links and sections that describe features.

[2017-10-30 08:39] #34 closed

[2017-10-30 08:49] mustafagonul commented on #2
I think we can close this issue. @fatiharaci @ardaogulcan @battinunal @metepinar @korem7

[2017-10-30 09:16] fatiharaci commented on #31
Hi Team,

I guess I found the solution; instead of basic connection select using URI solves the connection problem:

https://studio3t.com/whats-new/connect-hosted-mongodb-database/

For example for my setup:
**mongodb://localhost:27017/myproject**
mongodb:// is the protocol definition
localhost:27017 is the server we are connecting to
/myproject is the database we wish to connect to

Now I can con

[2017-10-30 09:16] fatiharaci commented on #31
![image](https://user-images.githubusercontent.com/17599008/32163085-3148bf40-bd6c-11e7-94d5-2e0e76ac76ae.png)

[2017-10-30 09:36] mustafagonul commented on #31
If you have any problems UI dependent, you can use **Robomongo**. I am currently using that application if I need a UI.

[2017-10-30 11:28] fatiharaci commented on #31
@ardaogulcan could you please approve this; I guess we can close this issue.

[2017-10-30 11:30] ardaogulcan commented on #31
i don't get the problem ? If it is related to your environment setup and you have figured it out we may close this one.

[2017-10-30 11:32] fatiharaci opened #39 "Create Virtualbox Environment for Development"
Hi Team we will be configuring a virtual machine with all the tools installed.

The VM will be running on Oracle Virtualbox which runs ubuntu 16.2. Our aim is to generalize the development environment.

[2017-10-30 11:34] fatiharaci commented on #39
Virtualbox Installed; Ubuntu installed with variable size VDI disk in order to share VM easier online

[2017-10-30 11:34] fatiharaci commented on #39
Terminator selected as the default Terminal.

[2017-10-30 11:36] fatiharaci commented on #39
mongoDB installed

[2017-10-30 11:37] fatiharaci commented on #39
memoriae-API git Cloned. Required JSON files copied.

[2017-10-30 11:37] fatiharaci commented on #39
NodeJS 8 installed.

[2017-10-30 11:38] fatiharaci commented on #39
SublimeText İnstalled

[2017-10-30 11:38] fatiharaci commented on #39
Sample MongoDB created:

`db.createUser({user:"faraci",pwd:"123456",roles:[{role:"readWrite",db:"users"}]})`

[2017-10-30 13:12] fatiharaci commented on #33
After an online call with Arda this issue is resolved. Expo will be handled automatically by Jenkins in order to prevent possible bugs.

Existent meoriae-app github repo has required setup in order to run Expo. Installing Expo app on a mobile device is sufficient. (or using a simulator (i = ios ; a= andorid)

So this issue can be closed as invalid.

[2017-10-30 13:12] #33 closed

[2017-10-30 15:57] fatiharaci opened #40 "memoriae app npm install error"
npm ERR! request to https://registry.npmjs.org/react failed, reason: write EPROTO 140638963050304:error:14077419:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert access denied:../deps/openssl/openssl/ssl/s23_clnt.c:772:

[2017-10-30 16:08] fatiharaci commented on #40
This was just an enviorenmental issue. Using company network blocked install process. Switching a proxy-less network solved this issue.

[2017-10-30 16:08] #40 closed

[2017-10-30 16:12] fatiharaci opened #41 "memoriae-app react Unable to start server"
[code]

[2017-10-30 16:18] fatiharaci commented on #41
https://github.com/react-community/create-react-native-app/issues/234

[2017-10-30 19:01] fatiharaci commented on #41
This was a issue of watcher process. Following commands as suggested solves this issue:

[code]

[2017-10-30 19:01] #41 closed

[2017-10-30 19:03] fatiharaci commented on #41
![image](https://user-images.githubusercontent.com/17599008/32190239-30c76696-bdbe-11e7-870c-df328fa6981b.png)

[2017-10-31 13:50] fatiharaci commented on #39
memoriae app cloned

[2017-10-31 13:52] fatiharaci commented on #39
latest checks done and virtual machine is published:

https://bounedutr-my.sharepoint.com/personal/fatih_araci_boun_edu_tr/_layouts/15/guestaccess.aspx?docid=10c46dd71aa38475fb81eac1904458cf4&authkey=Ada9T3IZG9A0gAGcZ-ehrYo

[2017-10-31 13:52] #39 closed

[2017-10-31 14:01] fatiharaci opened #42 "Can't determine id of Simulator app"
While starting IOS simulator of Expo I get the following error.

[code]

[2017-10-31 15:50] fatiharaci commented on #42
Installing simulator solves this issue.

[2017-10-31 15:50] #42 closed

[2017-11-12 09:01] fatiharaci opened #43 "Andorid Emulator Problem (Windows Users)"
Hi Team

As I realized it is impossible to run genymotion inside a VM I installed memoriae-app directly to my windows. This time I have the following problem in a simulator:

could not install *smartsocket* listener: cannot bind to 127.0.0.1:5037: Only one usage of each socket address (protocol
/network address/port) is normally permitted. (10048)
could not read ok from ADB Server
* failed to star

[2017-11-12 09:03] fatiharaci commented on #43
It seems adb.exe by the genymotion needs to be added to enviorenment variables. Following site solves the problem:

https://forums.expo.io/t/genymotion-is-not-responding-error/547/18

[2017-11-12 09:03] #43 closed

[2017-11-15 09:28] mustafagonul opened #44 "Reset DB Script"
## Reset DB Script

## Description

The script is intended for use in development environment. Drops all databases and creates new ones. The script is added to [memoria-utils](https://github.com/574BandOfBrothers/memoriae-utils) repository.

**Databases:**
* memoriae: for production
* memoriae-dev: for development
* memoriae-test: for testing

**Users:**
* memoriae: for production - no pass is ass

[2017-11-15 11:35] #44 closed

[2017-11-15 11:58] mustafagonul opened #45 "Development and Test Configs"
## Development and Test Configs

Due to the integrity in the project same databases should be used. To justify that, environment configs are changed.

Note: A script is added to [memoriae-util](https://github.com/574BandOfBrothers/memoriae-utils) reset the database. #44

[2017-11-15 19:03] mustafagonul opened #46 "Postman export for testing"
## Postman export for testing

Postman is used for API testing. Postman configuration should be exported and added to memoriae-utils repository for general usage among developers.

[2017-11-15 20:28] ardaogulcan opened #47 "Stories API Endpoint"
**Requirements**
- GET /stories
  - Lists all story records
  - Password field should be excluded
- GET /stories/:id
  - Gets story with given id
  - It should fail with proper error message if id given is not valid or not exists
- POST /stories
  - It should fail with the proper error message if required fields are not provided
- PUT /stories/:id
  - Updates story with given id with given data
-

[2017-11-15 20:37] ardaogulcan opened #48 "Design Stories Endpoint Mongoose Schema"
Story Document Schema will be created.

**Requirements for Story Object**
+ Title*
  - Main title for the story. It should be at least 2 and maximum characters 200 characters long
+ Tags
  - Stories may have tags
  - Tags are consist of string values which are at least 2 and maximum 20 characters
  - Story may have multiple tags
+ Body
  - Stories may have textual body
+ Media
  - Stories may have

[2017-11-15 20:40] ardaogulcan commented on #48
https://github.com/574BandOfBrothers/memoriae-api/pull/7

[2017-11-15 20:41] ardaogulcan commented on #47
https://github.com/574BandOfBrothers/memoriae-api/pull/7

[2017-11-16 21:06] #48 closed

[2017-11-16 21:06] #47 closed

[2017-11-16 21:11] ardaogulcan opened #49 "Uploads Endpoint Development"
Uploads endpoint should be created to manage AWS Uploads. SignedUrl method should be used for secure file uploads to the s3 directly from mobile app. To provide this api should pre sign and share upload url with mobile clients.

http://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/s3-example-presigned-urls.html

GET /uploads/request

[2017-11-16 21:19] ardaogulcan opened #50 "Missing Annotation Endpoints Should Be Created"
We have some missing endpoints for annotation model. Right now, Get annotations, Get annotation with id and Post annotation endpoints are ready. We need following endpoints;

- Paging Support -> https://www.w3.org/TR/annotation-protocol/#annotation-pages
- Update Support -> https://www.w3.org/TR/annotation-protocol/#update-an-existing-annotation
- Delete Support -> https://www.w3.org/TR/annotation

[2017-11-16 21:26] ardaogulcan opened #51 "Sign In-Up Screen"
**Welcome Screen**

- If users are not authenticated a Welcome Screen with sign-in and sign-up button should present.
- Users should be able to sign-up with following information
  - Name (At least 3 characters)
  - Email (Valid email)
  - Password (Should be validated with second inout)
  - Birthday (Proper Date)
- All fields must be validated on client before api request.

Authentication should

[2017-11-16 21:33] ardaogulcan opened #52 "Stories Screen"
**Stories Screen**
- Stories screen should be the landing screen on Tab Navigation if user is authenticated.
- All stories should be listed on stories screen in descending order.
- FlatList should be used to list stories
- User should be able to navigate the story detail by taping to the story item
- If story has media items, first media may be used for cover image
- If story is text based its tit

[2017-11-16 21:46] ardaogulcan opened #53 "Create Story Screen"
Create Story Screen Should be created.

Following fields should be available on screen;

- title: TextInput, at least 2 characters maximum 200 characters long
- tags: TextInput, user should be able to input comma separated tags
- body: TextInput(multiline), textual body for story
- media:
  - Users should be able to upload images for story
  - Media Input should be consist of media previews and ad

[2017-11-17 05:54] #45 closed

[2017-11-17 05:57] #37 closed

[2017-11-18 11:45] bahattinunal commented on #31
I hate windows.

[2017-11-18 11:45] #31 closed

[2017-11-21 04:59] mustafagonul opened #54 "Authentication API"
Subtask of
#32

Blocked By
#36

----

/authenticate

[code]

 Possible responses:
* Database error
* User not found
* Password mismatch

[2017-11-21 05:09] mustafagonul commented on #32
Additional Tasks

Authentication API
#54

JWT support for APIs
#55

[2017-11-21 05:12] mustafagonul opened #55 "JWT support for APIs"
Subtask of
#32

Blocked By
#54

--

[2017-11-27 20:06] fatiharaci commented on #2
FrontEnd-Memoriae-APP:
https://github.com/574BandOfBrothers/memoriae/wiki/Development-Tools-for-Frontend-(Memoriae-APP)

[2017-11-27 20:53] korem7 opened #56 "Create Project Plan"
We need to determine tasks.

[2017-11-27 22:04] fatiharaci commented on #6
https://github.com/574BandOfBrothers/memoriae/wiki/Requirements
https://github.com/574BandOfBrothers/memoriae/wiki/Requirements-Elicitation

[2017-11-27 22:04] #6 closed

[2017-11-27 22:08] fatiharaci commented on #11
Agile board will be used as github projects

[2017-11-27 22:08] #11 closed

[2017-11-27 22:08] fatiharaci commented on #15
Mockup can be found here:
https://github.com/574BandOfBrothers/memoriae/wiki/Mockup

[2017-11-27 22:08] #15 closed

[2017-11-27 22:16] fatiharaci commented on #38
http://memoriae.online/ will be the project page.

[2017-11-27 22:17] #46 closed

[2017-11-28 02:00] fatiharaci commented on #51
First version is ready to deploy making tests.

[2017-11-28 05:05] battinunal opened #57 "User Test Creation"

[2017-11-28 10:03] fatiharaci commented on #2
BackEnd-Memoriae-API:
https://github.com/574BandOfBrothers/memoriae/wiki/Development-Tools-for-Backend-(Memoriae-API)

[2017-11-28 10:04] #2 closed

[2017-11-28 11:32] fatiharaci opened #58 "Create Date Input instead of Text Input for stories"

[2017-11-28 11:35] fatiharaci commented on #58
In order to provide one application for both platfroms; following package will be used:

https://www.npmjs.com/package/react-native-datepicker

[2017-11-28 15:16] fatiharaci opened #59 "Creating Text Annotations Upon Existing Stories"
Our annotations API is working and giving required responses.

We need to develop application interface for text annotations

[2017-11-28 15:18] fatiharaci opened #60 "Creating Image Annotations Upon Existing Stories"
Our annotations API is working and giving required responses.

We need to develop application interface for image annotations

[2017-12-04 19:40] mustafagonul opened #61 "Connect Sign Up App Functionality to Backend API"

[2017-12-04 20:11] mustafagonul opened #62 "Connect Sign In App Functionality to Backend API"

[2017-12-04 20:16] mustafagonul commented on #18
If this issue is done, please close :+1:

@fatiharaci

[2017-12-04 20:17] mustafagonul commented on #56
If this issue is done, please close :+1:

@korem7
@fatiharaci

[2017-12-04 20:56] korem7 commented on #56
We will review.

[2017-12-05 04:30] #54 closed

[2017-12-05 10:23] mustafagonul commented on #57
Is this unit testing or what?

@battinunal

[2017-12-05 18:13] fatiharaci opened #63 "Add Location to History Items"

[2017-12-05 18:14] fatiharaci opened #64 "Handle Date Input; Remove DatePicker"

[2017-12-05 18:15] fatiharaci opened #65 "Hide Keyboard When Clicked on an Empty Space in Application"

[2017-12-06 17:12] #36 closed

[2017-12-06 17:13] #61 closed

[2017-12-06 17:13] #62 closed

[2017-12-08 07:47] fatiharaci opened #66 "APP Expo :start: `react-native-scripts start`: Failed at the memoriae-app@0.1.0 start script."

[2017-12-08 07:50] fatiharaci commented on #66
https://github.com/react-community/create-react-native-app/issues/382

watchmen is required

[2017-12-08 15:32] fatiharaci commented on #66
https://docs.expo.io/versions/latest/introduction/installation.html

[2017-12-08 15:46] fatiharaci commented on #66
INSTALL NODEJS

curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
sudo apt-get install -y nodejs

[2017-12-08 15:59] fatiharaci commented on #66
INSTALL WATCHMEN

   31  brew update
   32  sudo apt install linuxbrew-wrapper
   35  sudo apt install iprint
   37  brew install watchman

[2017-12-08 16:04] fatiharaci commented on #66
INSTALL VIRTUALBOX
download deb package

sudo apt-get -f install
sudo apt-get install libsdl-ttf2.0-0

cd ~
sudo dpkg -i virtualbox-5.2_5.2.2-119230~Ubuntu~xenial_amd64.deb

[2017-12-09 05:53] fatiharaci commented on #66
INSTALL GENYMOTION

chmod a+x genymotion-2.11.0-linux_x64.bin
./genymotion-2.11.0-linux_x64.bin

[2017-12-09 05:53] #66 closed

[2017-12-09 10:55] fatiharaci opened #67 "Can open Android Emulator: Genymotion in Ubuntu 16.04"
I just started using ubuntu 16.04 instead of windows due to expo problems.

Expo works great in ubuntu however even with a succesfull genymotion setup with virtualbox; expo still  needs a correct SDK for andorid

normally  `sudo apt-get install android-tools-adb android-tools-fastboot` does the job however there is problem in ubuntu;

                  Depends: libvpx4 (>= 1.6.0) but it is not ins

[2017-12-09 13:41] fatiharaci commented on #65
<TouchableWithoutFeedback onPress={Keyboard.dismiss} accessible={false}>
wrapping view with this solves this issue

[2017-12-09 13:48] fatiharaci commented on #65
https://stackoverflow.com/questions/29685421/react-native-hide-keyboard

[2017-12-09 21:03] #35 closed

[2017-12-10 08:58] #65 closed

[2017-12-10 09:14] fatiharaci commented on #63
@ardaogulcan have a question

normally we create history objects via dynamic Map object as follows:

[code]

so adding a new parameter should not be an issue however backend seems to be missing this information:

`  console.log('actions/stories.js icindeki createStory' + JSON.stringify(fields, null, 4))
`

![image](https://user-images.githubusercontent.com/17599008/33803525-9bb318c4-dda3-11e7-8a8f

[2017-12-10 09:16] fatiharaci commented on #63
![image](https://user-images.githubusercontent.com/17599008/33803542-ebc5d004-dda3-11e7-9fbc-4c5638d28b4e.png)

[2017-12-10 09:16] fatiharaci commented on #63
HERE IS THE BACKEND RESPONSE:

[code]

[2017-12-10 09:17] fatiharaci commented on #63
@mustafagonul  need your help about the backend do we need to change DB?

[2017-12-10 09:23] ardaogulcan commented on #63
@fatiharaci You should add new field to Mongoose Schema in API

You should modify memoriae-api->src->models->story.js and add location field

[2017-12-10 19:48] battinunal commented on #64
This is causing problems @fatiharaci as of now. The app won't start.

[2017-12-11 17:54] bahattinunal commented on #57
@mustafagonul user acceptance tests.

[2017-12-11 17:54] #57 closed

[2017-12-11 17:54] #38 closed

[2017-12-12 14:31] bahattinunal commented on #59
@mustafagonul @ardaogulcan can you guys tell me where can i get the auth token after user has logged in. @fatiharaci

[2017-12-12 14:32] bahattinunal commented on #52
this looks line done? do we have anything to add here @ardaogulcan ?

[2017-12-12 16:27] fatiharaci opened #68 "Search Story Items with Time and Location"
Search Should search history items; header and body both

There should tag search also

[2017-12-12 16:28] fatiharaci commented on #64
The Design will be in two options:
* exact date
* time between

[2017-12-12 16:35] fatiharaci opened #69 "Abililty of Listing Existing Annotations in Existing History Items"

[2017-12-12 19:18] fatiharaci commented on #18
This examples will be shared thorud live API for presentation

[2017-12-12 19:33] fatiharaci commented on #49
Following PR closes this issue:

https://github.com/574BandOfBrothers/memoriae-app/commit/4db74256d2ff395da28731660cba2e66f726d4c6

[2017-12-12 19:36] fatiharaci commented on #51
Folllowing PR closes this issue

https://github.com/574BandOfBrothers/memoriae-app/commit/b90f05b44982fbad3a7428ff645e2c77cb975971

[2017-12-12 19:38] fatiharaci opened #70 "Add Access Token all existing API Request"
Currently login and logout works fine.

However some requests can be done without token; before finalizing the project we need to add tokens to all API endpoints.

[2017-12-12 19:39] fatiharaci commented on #50
@mustafagonul could you please update the current status

[2017-12-12 19:39] fatiharaci commented on #52
following PR closes this issue

https://github.com/574BandOfBrothers/memoriae-app/pull/3

[2017-12-12 19:40] #52 closed

[2017-12-12 19:41] fatiharaci commented on #53
following PR closes this issue:

https://github.com/574BandOfBrothers/memoriae-app/pull/3

[2017-12-12 19:41] #53 closed

[2017-12-12 19:41] fatiharaci commented on #56
@korem7 could you update the current status

[2017-12-12 19:44] fatiharaci commented on #58
following PR updates this issue however we still need to improve date input

https://github.com/574BandOfBrothers/memoriae-app/pull/7

[2017-12-12 19:44] fatiharaci commented on #55
@mustafagonul could you update the current status

[2017-12-12 19:45] fatiharaci commented on #59
this is not yet implemented due to faster development; following issue is created for tracking:
#70

[2017-12-12 19:47] fatiharaci commented on #64
this issue is duplicate of #58 closed as duplicate

[2017-12-12 19:47] #64 closed

[2017-12-12 19:48] fatiharaci commented on #63
@mustafagonul could you make this change for me please

[2017-12-12 19:50] fatiharaci commented on #68
Not sure this should be done on backend or frontend. Any ideas?

[2017-12-12 19:51] fatiharaci commented on #67
it seems it is a bad install problem; a fresh install will be tried and documentation will be updated accordingly

[2017-12-12 19:54] fatiharaci opened #71 "Create Deployment Documentation for Delivery"

[2017-12-12 19:56] fatiharaci opened #72 "Create Documenatation For Adding Text Annotations in wiki"

[2017-12-12 20:03] fatiharaci opened #73 "Create Documenatation For Adding Image Annotations in wiki"

[2017-12-12 20:04] fatiharaci opened #74 "Create Documenatation For Registration/Login in wiki"

[2017-12-12 20:05] fatiharaci opened #75 "Create Documenatation For System Architecture in wiki"

[2017-12-12 20:06] fatiharaci opened #76 "Create Documenatation For API Endpoints in wiki"

[2017-12-12 20:55] mustafagonul commented on #70
duplicated with #55

[2017-12-12 20:55] #70 closed

[2017-12-19 13:49] fatiharaci opened #77 "Docker Install Error"
After installing docker with following commands:
[code]
following error is taken

Docker takes following error:
`ERROR: Couldn't connect to Docker daemon at http+docker://localunixsocket - is it running?`

[2017-12-19 15:38] fatiharaci commented on #77
It seems post install steps are missing:

https://docs.docker.com/engine/installation/linux/linux-postinstall/#manage-docker-as-a-non-root-user

[code]
actually first 2 helped me build docker

[2017-12-19 17:07] fatiharaci commented on #77
however this problem still exist:

[code]

[2017-12-19 18:02] fatiharaci commented on #77
[code]

[2017-12-20 18:38] battinunal opened #78 "sysctl -w kern.maxfiles=5242880 issue"
sudo sysctl -w kern.maxfiles=5242880

does anyone know how to disable this once and for all? i hate typing and executing it everytime i start the terminal...

[2017-12-20 18:39] bahattinunal commented on #77
Found the solution @fatiharaci https://www.apple.com/tr/shop/buy-mac/macbook

[2017-12-20 22:44] bahattinunal commented on #55
@mustafagonul bu bitti?

[2017-12-21 10:07] #78 closed

[2017-12-21 10:08] bahattinunal commented on #56
isn't this finished?

[2017-12-21 21:57] fatiharaci commented on #55
JWT support is provided this case can be closed

[2017-12-21 21:57] #55 closed

[2017-12-21 21:58] fatiharaci commented on #32
User API endpoint is now accesible we can close this issue now

[2017-12-21 21:58] #32 closed

[2017-12-21 21:59] fatiharaci commented on #67
fresh install solves this problem case now can be closes

[2017-12-21 21:59] #67 closed

[2017-12-21 22:03] korem7 commented on #56
We used agile/kanbanboard for planning.

[2017-12-21 22:03] #56 closed

[2017-12-21 22:09] fatiharaci commented on #63
https://github.com/574BandOfBrothers/memoriae-app/commit/fdcf3bef5bf9d004f9dae5f9dfa3e6d9fc1f0c55

this commit solves this issue

[2017-12-21 22:09] #63 closed

[2017-12-21 22:17] fatiharaci commented on #75
System Architecture is explained in wiki; also a schema is added to readme file:

https://github.com/574BandOfBrothers/memoriae-utils/blob/master/arch2.png?raw=true

[2017-12-21 22:17] #75 closed

[2017-12-21 22:22] fatiharaci commented on #50
All Annotation enpoints are now deployed. You can check api commits and following documentation:

https://github.com/574BandOfBrothers/memoriae/wiki/API-Endpoints

[2017-12-21 22:22] #50 closed

[2017-12-21 22:30] mustafagonul commented on #76
I guess we can close this issue

@korem7

[2017-12-21 22:31] korem7 commented on #76
All Endpoints are added to final documentation.

[2017-12-21 22:31] #76 closed

[2017-12-21 23:29] fatiharaci commented on #68
this commit closes this issue: https://github.com/574BandOfBrothers/memoriae-api/commit/8960a14443dadc4d96d06ce85add9dfe7665b455

[2017-12-21 23:29] #68 closed

[2017-12-21 23:32] korem7 commented on #71
Final document is ready and uploaded to utils. Please check.

[2017-12-21 23:46] bahattinunal commented on #77
@fatiharaci provide the solution you've found and we can close this issue.

[2017-12-21 23:49] fatiharaci commented on #77
Ok FINALLY FOUND THE SOLUTION

the environment.json files are not in the correct  place; adding scripts and wiki.

[code]

https://github.com/574BandOfBrothers/memoriae/wiki/Auto-Deployment

[2017-12-21 23:49] #77 closed

[2017-12-21 23:50] fatiharaci commented on #71
https://github.com/574BandOfBrothers/memoriae/wiki/Auto-Deployment

[2017-12-21 23:50] #71 closed

[2017-12-22 00:38] fatiharaci commented on #74
Documentation can be found at:
https://github.com/574BandOfBrothers/memoriae-utils/blob/master/SWE574_Memoriae_BandOfBrothersV3.pdf

[2017-12-22 00:38] #74 closed

[2017-12-22 00:39] fatiharaci commented on #73
Documentation can be found at:
https://github.com/574BandOfBrothers/memoriae-utils/blob/master/SWE574_Memoriae_BandOfBrothersV3.pdf

[2017-12-22 00:39] #73 closed

[2017-12-22 00:39] fatiharaci commented on #72
Documentation can be found at:
https://github.com/574BandOfBrothers/memoriae-utils/blob/master/SWE574_Memoriae_BandOfBrothersV3.pdf

[2017-12-22 00:39] #72 closed

[2017-12-22 06:43] fatiharaci commented on #59
This commit closes this issue:

https://github.com/574BandOfBrothers/memoriae-app/tree/feature/annotation-create-view-list

[2017-12-22 06:43] #59 closed

[2017-12-22 06:44] fatiharaci commented on #69
This commit closes this issue:

https://github.com/574BandOfBrothers/memoriae-app/tree/feature/annotation-create-view-list

[2017-12-22 06:44] #69 closed

[2017-12-22 09:31] mustafagonul commented on #60
Support URL, you know the issue @battinunal

[2017-12-22 09:51] mustafagonul opened #79 "Real Life Stories"

[2017-12-22 09:54] mustafagonul opened #80 "Profile Screen Authentication Issue"
Nerde ne yaptın?

https://vimeo.com/116053486

[2017-12-22 09:55] fatiharaci opened #81 "Make search available on Annotation API"

[2018-01-09 19:25] uskudarli opened #82 "Search memories not working"
## Title

When I search for anything, for example "silgi" I get no response. I get a blank screen and get totally stuck after I click on "end" (bitti) on Apple version of application.

## Description

I clicked on magnifying glass.
Put "silgi" clicked on "bitti" and application got stuck completely.

### Task / Feature Issues

Required task / feature should be detailed in every aspect. If necessar

[2018-01-09 19:30] uskudarli opened #83 "Temporal expressions do not have the required resolution"
## Title

We can not express the 70s etc. Asks for specific year date. I removed the month and all and input 1970 only, which works.

This is a known bug. I am documenting it.

## Description

I want to enter decades and similar resolutions of temporal expressions. But can not

### Task / Feature Issues

Does not meet requirement for temporal expressions.

### Bug Issues

Bugs should be explained

[2018-01-09 19:32] uskudarli opened #84 "location is name only -- should be geolocation"
## Title

Locations are not geolocations

## Description

The locations should be geolocations so that they can serve location based searches.
A map should be used to specify and to visualize the location. Searches should support locations.

### Task / Feature Issues

Required task / feature should be detailed in every aspect. If necessary requirements documents, design documents, relevant links s

[2018-01-09 19:35] uskudarli opened #85 "Image annotation not working"
## Title

Images in stories can not be annotated.

## Description

Descriptions should detaily describe the issue. It should be understanble to all readers, whether with a background for that issue or not.

### Task / Feature Issues

Required task / feature should be detailed in every aspect. If necessary requirements documents, design documents, relevant links should be included to the descriptio